.search {
  margin-top: 30px;
}

.search-inner {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 24px;
  color: gray;
}

.search-input {
  min-width: 100%;
  padding: 12px 15px 12px 38px;
  background: rgba(246, 97, 65, 0.15);
  border-radius: 8px;
  outline: none;
  border: none;
  color: gray;
  transition: background-color 0.5s ease;
}

.search-input:focus {
  outline: 1px solid rgba(246, 97, 65, 0.3);
}

.search-input::placeholder {
  color: gray;
}