.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--tg-theme-text-color);
}

.form-body {
  padding: 20px;
  background-color: var(--tg-theme-secondary-bg-color);
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title p {
  color: var(--tg-theme-link-color);
}

.form-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-style: 'Roboto';
}

.select {
  padding: 10px;
  margin-top: 15px;
}
